#agregar-tarea-container,
.task-column {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    transition: box-shadow .3s
}

#agregar-tarea-container h2,
.task-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555
}

#tasks,
body {
    display: flex
}

.task-list li,
button,
li button {
    transition: background-color .3s;
    cursor: pointer
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}
#cuadro {
  width: 90%;
  height: 90%;
  background-color: rgb(246, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  margin: 10px auto;
}

.columna {
  width: 80%;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin: 10px auto;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333
}

button,
label {
    font-size: 1em
}

#tasks {
    justify-content: space-around;
    width: 100%;
    margin: 20px 0
}

.task-column {
    flex: 1;
    margin: 0 10px
}

.task-column h2 {
    text-align: center
}

.task-list {
    list-style-type: none;
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin
}

.task-list li {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0
}

.task-list li:hover {
    background-color: #eaeaea
}

#agregar-tarea-container {
    margin: 20px 0;
    max-width: 500px;
    width: 80%
}

input[type=date],
input[type=text],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box
}

.contenedor-etiquetas-tarea {
    display: flex;
    justify-content: space-between
}

button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px
}

button:hover {
    background-color: #2980b9
}

li button {
    margin-left: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px
}

li button:hover {
    background-color: #c0392b;
    cursor: pointer
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555
}

.task-list::-webkit-scrollbar {
    width: 8px
}

.task-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px
}

.task-list::-webkit-scrollbar-track {
    background-color: #f5f5f5
}

@media (max-width:768px) {
    .task-column {
        height: auto;
        margin-bottom: 20px
    }

    #agregar-tarea-container {
        width: 100%;
        max-width: none
    }
}